@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=PT+Sans&family=Roboto:wght@300;400&display=swap');

@keyframes transitionIn {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
        
    }
    
}

@keyframes transitionName {
    from {
        padding: 100%;
    }
    to {
        opacity: 1;
    }
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Barlow';
    background-color:rgb(226, 226, 226);
    color: rgb(192, 192, 192);
    transition: 2s;
    cursor: default;
    animation: transitionIn 0.75s;
    scroll-behavior: smooth;
   
}



body{
    margin-left: 2%;
    margin-right: 2%;   
}

nav{
    margin-left: -2%;
    margin-right: -2%;   
}

footer{
    margin-left: -2%;
    margin-right: -2%;   
}

a {
    text-decoration: none;
}

.index-hr {
    border: 1px solid rgb(0, 0, 0);
    width: 71.5vw;
}

.links{
    color:#000;
    transition: 0.3s;
}

.links:hover{
    color: rgb(89, 104, 93);
}

/* Navigation */

.navbar {
    background-color: rgb(40, 44, 35);
}

.navbar-container {
    display:grid;
    grid-template-columns: 50% 50%;
    color: white;
    padding: 0 10%;
    font-family: 'Sen';
}

.logo-container {
    flex: 1;
    padding-right: 15%;
    padding-top: 3%;
    padding-bottom: 2%;
}

.logo {
    margin-right: 0%;
}

.logo-1{
    transition: 0.3s;
}

.logo-1:hover{
    filter: drop-shadow(0px 0px 20px #f3f3f3);
    opacity: 0.5;
}

.menu-container{
    padding-left: 8%;
}

.menu-list {
    list-style: none;
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    padding-top: 4%;
    gap: 2%
}


.home{
    color:rgb(255, 255, 255);
    font-size: 1.2vw;
    font-family: 'Barlow';
    transition: 0.3s;
    
}

.home:hover{
    cursor: pointer;
    font-size: 1.3vw;
    color: #919191;
    filter: drop-shadow(0px 0px 20px #ffffff);
}

.history{
    color:rgb(255, 255, 255);
    font-size: 1.2vw;
    font-family: 'Barlow';
    transition: 0.3s;
}

.history:hover{
    cursor: pointer;
    font-size: 1.3vw;
    color: #919191;
    filter: drop-shadow(0px 0px 20px #ffffff);
}

.interest{
    color:rgb(255, 255, 255);
    font-size: 1.2vw;
    font-family: 'Barlow';
    transition: 0.3s;
}

.interest:hover{
    cursor: pointer;
    font-size: 1.3vw;
    color: #919191;
    filter: drop-shadow(0px 0px 20px #ffffff);
}

.arts{
    color:rgb(255, 255, 255);
    font-size: 1.2vw;
    padding-left: 14%;
    font-family: 'Barlow';
    transition: 0.3s;
}

.arts:hover{
    cursor: pointer;
    font-size: 1.3vw;
    color: #919191;
    filter: drop-shadow(0px 0px 20px #ffffff);
}

.socials{
    color:rgb(255, 255, 255);
    font-size: 1.2vw;
    font-family: 'Barlow';
    transition: 0.3s;
}

.socials:hover{
    cursor: pointer;
    font-size: 1.3vw;
    color: #919191;
    filter: drop-shadow(0px 0px 20px #ffffff);
}



/* Info */

.info-bar{
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 50% 50%;
}

.my-name{
    position: relative;
    padding: 27% 0 0 20%;
    margin-left: 12%;
    transition: 1s;
    animation: transitionName 1.7s;
    filter: drop-shadow(4px 3px 3px #a3a3a3);
}

.my-name:hover{
    filter: drop-shadow(4px 3px 3px #5e5e5e);
}

.my-name-info{
    cursor: pointer;
}

.my-img{
    padding-left: 2%;
    position: relative;
    padding-right: 0%;
    animation: transitionName 1.7s;
}

.my-img1:hover{
    filter: drop-shadow(16px 16px 12px #444444);
    
}

.my-img1{
    transition: 0.3s;
    filter: drop-shadow(10px 10px 10px #727272);
}

.leaves{
    z-index: -1;
    position:absolute;
    left:-10vw;
    bottom: 1vw;
    filter: grayscale(40%);
}


/* Slideshow */

.slideshow-container {
    padding-top: 4%;
    
}

.slideshow-container {
    position: relative;
    margin: auto;
    filter: grayscale(70%);
}

.mySlides {
    display:none;

}


.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 6%;
    width: auto;
    margin-top: 5%;
    margin-right: 1.1%;
    padding: 0.5%;
    color: white;
    font-size: 2vw;
    transition: 0.6s ease;
    border-radius: 0 100% 100% 0;
    user-select: none;

}

.next {
    right: 0;
    border-radius: 100% 0 0 100%;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* Personal Information */

.full-info{
    color: #000;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5% 5% 5% 5%;
    transition: 0.7s;
    animation: transitionName 1.5s;
}

.intro{
    transition: 0.3s;
    filter: drop-shadow(4px 3px 3px #a3a3a3);
}

.intro:hover{
    filter: drop-shadow(4px 3px 3px #5e5e5e);
    
}

.p-info-text{
    transition: 0.3s;
    filter: drop-shadow(4px 3px 3px #a3a3a3);
}

.p-info-text:hover{
    filter: drop-shadow(4px 3px 3px #5e5e5e);
    
}

.informations{
    padding: 10%;
    background-color:rgb(212, 212, 212);
}

.personal-info{
    padding: 10%;
    background-color:rgb(212, 212, 212);
}


/* Footer */

.footer{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color: rgb(78, 88, 80);
    list-style: none;
    justify-content: center;
    padding: 1% 20% 1% 30%;    
}

.footer-image{
    transition: 0.3s;
}

.footer-image:hover{
    filter: drop-shadow(0px 2px 10px #000000);
    opacity: 0.5;
}

.photo-text{
    color: #000;
    font-size: 3vw;
    padding-left: 3%;
    padding-bottom: 1%;
}

.photo-image{
    color:black;
    padding-left: 2%;
    padding-right: 5.5%;    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1.5%;
    transition: 1.5s;
    animation: transitionImg 2s;
}

.photo-image1{
    color:black;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 5.5%;
    padding-bottom: 1.5%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 1.5%;
    transition: 1.5s;
    animation: transitionImg 2s;
}

.my-photo-image{
    transition: 0.3s;
}

.my-photo-image:hover{
    filter:contrast(50%) drop-shadow(3px 3px 3px #949494) grayscale(100%); 
} 